input{
    font-size: 1.4rem !important;
}

form{
    width: 100% !important;
    background: black !important;
}


@media (min-width:0px) and (max-width:1768px)
  and (orientation:portrait){
    #reg{
        width: 100% !important;
        background: black;
    }
}