input {
  font-size: 1.1rem !important;
}

form {
  max-width: 900px;
}

body {
  background: #002538 !important;
}

nav {
  background: #011e2c !important;
}

.display {
  max-width: 900px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: #002538 !important;
  border-color: #096b9c !important;
  box-shadow: none !important;
  color: #ffff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
select:-webkit-autofill, 
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px #002538 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

#register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 960px) {
  #register {
    flex-wrap: wrap !important;
  }
}
