{% extends 'base.html' %} {% block title %}Home{% endblock title %} 
{% block header %}
<!-- <div style=" padding: 2.5rem 0;" class="">
    <h2 class="text-center text-muted d-flex justify-content-center">Blog</h2>
</div> -->
{% endblock header %} {% block content %}
<div>
  {% if messages %}
  <div>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
  </div>
  {% endif %} {% if user.is_authenticated %}
  <h4 class="mt-5 text-light">Hey, {{user.username.title}}</h4>
  {% endif %}

  <div class="row row-cols-lg-3 w-100 m-auto g-3">
    {% if datas %}
    {% for data in datas %}
    <!-- first -->
    <div class="d-flex flex-column col-lg">
      <div
        class="p-3 border text-white"
        style="border-color: #011e2c !important; background: #011e2c !important"
      >
        <h6 class="">
          <a href="/display/{{data.id}}" class="text-decoration-none text-info">
            <i class="fa-solid fa-rss" style="font-size: 0.74rem"></i>
            {{ data.post_title.title }}
          </a>
        </h6>
        <div>
          <i
            class="fa-solid fa-circle-user text-muted"
            style="font-size: 0.75rem"
          ></i>
          {% if data.user.last_name %}
          <small class="h6 text-muted" style="font-size: 0.75rem"
            >{{ data.user.last_name.title }} {{ data.user.first_name.title }}</small
          >
          {% else %}
          <small class="h6 text-muted" style="font-size: 0.75rem"
            >{{ data.user.username.title }}
          </small>
          {% endif %}
          <small class="text-muted mx-4 small" style="font-size: 0.7rem"
            >{{ data.date }}</small
          >
        </div>
        {% if data.img %}
    <img src="{{ data.img.url }}" alt="pic" class="text-white" style="width: 100%; height: 10.5rem;" />
    {% else %}
    <img src="media/blog_images/aa.png" alt="pic" class="text-white" style="width: 100%; height: 10.5rem;" />
    {% endif %}
        <p
          class="mt-4 border-top w-100"
          style="border-color: rgba(128, 128, 128, 0.603) !important"
        >
          {{ data.post_content|truncatewords:5 }}
        </p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}
