{% extends 'base.html' %} {% block title %}Login{% endblock title %} 
{% block content %}
<!-- <div>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</div> -->

<div>
  <form
    action=""
    method="post"
    class="px-lg-5 p-5 card"
    style="
      margin: 7rem auto 0 auto;
      background: #011e2c !important;
      max-width: 26rem;
    "
  >
    <h2 class="text-center text-muted d-flex justify-content-center mb-5">
      Login
    </h2>
    {% csrf_token %}
    <input
      type="text"
      name="username"
      placeholder="username"
      class="form-control"
      
    /><br />
    <input
      type="password"
      name="password"
      placeholder="password"
      class="form-control"
    /><br />
    <input
      type="submit"
      value="Login"
      class="btn btn-success text-light border-0"
    />
    <p class="mt-3 small text-white">
      Don't have an account?
      <a href="/register" class="text-info text-decoration-none">Register</a>
    </p>
  </form>
</div>
{% endblock content %}
