{% extends 'base.html' %} {% load static %} {% static 'images' as baseURL %} 
{% block title %}HomePage{% endblock title %} {% block content %}

<!-- <div>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</div> -->

<div class="display m-auto mt-5">
  background: #011e2c !important;
  <marquee
    class="px-3 py-1 card text-white"
    style="width: fit-content; background: #011e2c !important"
    >Hey, {{user.username.title}}</marquee
  ><br />
  <p class="text-light fs-4">Create a post</p>
  <form
    action=""
    method="post"
    class="p-4 rounded card"
    style="background: #011e2c !important"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <input
      type="text"
      name="title"
      id=""
      placeholder="Your title"
      class="form-control"
      style="
        background: #002538 !important;
        box-shadow: none !important;
        color: #ffff !important;
        border-color: #096b9c;
      "
    /><br />
    <input
      type="file"
      name="image"
      id=""
      class="form-control"
      style="
        background: #002538 !important;
        box-shadow: none !important;
        color: #ffff !important;
        border-color: #096b9c;
      "
    /><br />
    <textarea
      name="content"
      id=""
      cols="30"
      rows="5"
      class="form-control"
      placeholder="Blog Post"
      style="
        background: #002538 !important;
        box-shadow: none !important;
        color: #ffff !important;
        border-color: #096b9c;
      "
    ></textarea
    ><br />
    <input type="submit" value="Post" class="btn btn-success" />
  </form>
  {% if blogs %}
  {% for blog in blogs reversed %}
  <div class="card p-4 mt-5 mb-3" style="background: #011e2c !important">
    <span class="h2 text-warning">{{ blog.post_title.title }}</span>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <i class="fa fa-calendar-alt text-muted"></i>
        <small class="text-muted small fw-bold px-2"> {{blog.date}} </small>
      </div>
      <div class="">
        <small>
          <a href="/delete/{{ blog.id }}" class="text-danger">
            <i class="fa fas fa-trash-alt h6"></i>
          </a>
          &nbsp;
          <a href="/update/{{ blog.id }}">
            <i class="fa fa-pen-square text-info h6"></i>
          </a>
        </small>
      </div>
    </div>
    <hr />
    {% if blog.img %}
    <img src="{{ blog.img.url }}" alt="pic" class="text-white img-thumbnail" />
    <hr class="border"/>
    {% endif %}
    <p class="text-light">{{ blog.post_content }}</p>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock content %}
